
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* fonte roboto e Overpass*/

*{
    margin: 0 ;
}

:root{
    --fontePrincipal: "Roboto";
    --fonteSecundaria: "Overpass";
}

#mensagem{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #000000;
    font-family: var(--fontePrincipal);
}

@media screen and (min-width:370px)  and (max-width: 410px){
    #mensagem{
        display: none;
    }

    #jukebox{
        width: 100%;
        height: 200vh;
        background-color: black;
    }

    #inicioJukebox{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid red;
    }

    #iconesInicio{
        width: 50%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #ffffff; 
        border: 1px solid red;
    }
    .icon{
        border: 1px solid red;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }

    #logoInicio{
        width: 50%;
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-family: var(--fontePrincipal);
        color: #ffffff;
        border: 1px solid red;
    }

    #circuloVermelho{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #ff0000;
        border: 1px solid red;
        margin-right: 10px;
        margin-left: 10px;
    }
    /* FIM INICIOJUKEBOX */

    #opcoesDeAudio{
        border: 1px solid red;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        overflow-x:auto;
    }

    .opcao{
        height: 35px;
        min-width: 135px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
        font-family: var(--fontePrincipal);
        color: #ffffff;
        border:1px solid #ff0000;
        background-color: #777676b4;
        padding: 5px;
        margin-left: 10px;
        border-radius: 15px;
    }

    .opcoesDeAudio::-webkit-scrollbar{
        width: 0px;
    }


}